/* NORMALIZE.CSS */

@import url(../vendor/normalize.css);

/* FONTS*/

@import url(../fonts/fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


h1, p, h2, q {
    margin: 0;
}

*::-webkit-scrollbar {
	width: 10px;
	background-color: #151211;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}
  
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}
  
*::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
  
*::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}

.page {
    color: white;
    background-color: #151211;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

p::selection {
    color: black;
    background-color: blanchedalmond;
}

h1::selection {
    color: black;
    background-color: blanchedalmond;
}

h2::selection {
    color: black;
    background-color: blanchedalmond;
}

q::selection {
    color: black;
    background-color: blanchedalmond;
}

.profile {
    display: grid;
    max-width: 1920px;
    grid-template: min-content min-content 294px min-content min-content 65px / min-content 1fr min-content;
    width: 100vw;
    background-image: url(../images/K\ bg.png);
    background-size: cover;
    margin: 0 auto 162px auto;
    background-repeat: no-repeat;
    background-position-x: center;
}

.profile__header-text_1 {
    font-family: 'Beware';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 112%;
    letter-spacing: 1em;
    grid-row: 1;
    grid-column: 1;
    padding: 75px 0 270px 105px;
}

.profile__header-text_2 {
    font-family: 'Beware';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 112%;
    letter-spacing: 1em;
    grid-column: 3;
    padding: 75px 105px 0 0;
    grid-row: 1;
    text-align: right;
}

.profile__job {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 163.5%;
    letter-spacing: 0.03em;
    width: 92px;
    grid-row: 2;
    grid-column: 1;
    padding-left: 105px;
    z-index: 3;
}

.profile__about {
    width: 37px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 155%;
    text-align: right;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFC93E;
    grid-row: 2;
    grid-column: 3;
    justify-self: right;
    z-index: 3;
    padding-right: 160px;
}

.profile__audience {
    width: 83px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0.03em;
    grid-row: 4;
    grid-column: 1;
    padding-left: 105px;
    z-index: 3;
}

.profile__numbers {
    width: 179px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    letter-spacing: 0.03em;
    grid-row: 4;
    grid-column: 1;
    padding-left: 373px;
    z-index: 3;
}

.profile__hr {
    width: 146px;
    padding-left: 210px;
    grid-row: 4;
    grid-column: 1;
    padding-top: 13px;
    z-index: 3;
}

.profile__vr {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column: 3;
    padding-top: 35px;
    padding-bottom: 35px;
    z-index: 3;
    height: 658px;
    justify-self: right;
    padding-right: 160px;
}

.profile__about-text {
    width: 550px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 134%;
    text-align: right;
    letter-spacing: 0.08em;
    grid-row: 6;
    grid-column: 3;
    padding-right: 150px;
    z-index: 3;
}

.profile__top {
    width: 100vw;
    z-index: 1;
    max-width: 1920px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 7;
    background-image: url(../images/K\ top.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}

.profile__gradient {
    width: 100vw;
    height: 406px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 6;
    z-index: 2;
    position: relative;
    margin-top: -140px;
}

/* FUND */
 .fund {
     display: grid;
     margin: 0 auto 210px auto;
     width: 100vw;
     max-width: 1920px;
     grid-template: min-content min-content 100px / 1fr;
     grid-gap: 20px;
 }

 .fund__title {
    width: 485px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 155%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    grid-column: 1;
    grid-row: 1;

    padding-top: 130px;
    padding-left: 105px;
    z-index: 4;
 }

 .fund__text {
    width: 565px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 134%;
    letter-spacing: 0.05em;
    grid-column: 1;
    grid-row: 2;
    padding-bottom: 20px;
    padding-left: 105px;
    z-index: 4;
 }

 .fund__vr {
     height: 415px;
     padding-left: 105px;
     grid-column: 1;
     grid-row: 3;
     z-index: 5;
 }

 .fund__background-1 {
     grid-column: 1;
     grid-row-start: 1;
     grid-row-end: 4;
     width: 100vw;
     z-index: 3;
     background-image: url(../images/K\ 25_04_2022-39\ 1.png);
     background-size: cover;
     background-position: center;
     max-width: 1920px;
 }

 .fund__background-2 {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100vw;
    z-index: 3;
    background-image: url(../images/K\ 25_04_2022-83\ 1.png);
    background-size: cover;
    background-position: center;
    max-width: 1920px;
}

 .source {
     margin: 0 auto;
     display: grid;
     grid-template: repeat(5, min-content) / 1fr;
     width: 600px;
 }

 .source__flex {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     margin-bottom: 240px;
 }

 .source__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 155%;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFC93E;
    padding-bottom: 35px;
 }

 .source__flex-cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #FFFFFF;
    border-radius: 135px;
    margin-bottom: 15px;
    margin-right: 15px;
    transition: background-color 0.5s ease-in-out;
 }

 .source__flex-cell:hover {
     background-color: #FFC93E;
     color: #151211;
     text-decoration: line-through;
 }

 .source__cell-icon {
    width: 18px;
    padding-left: 18px;
 }

 .source__cell-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 155%;
    text-align: right;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 15px 18px 12px 30px;
 }

 .source__quote {
    width: 490px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 182%;
    text-align: center;
    letter-spacing: 0.065em;
    margin: 0 auto 20px auto;
 }

 .source__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 182%;
    text-align: right;
    letter-spacing: 0.325em;
    text-transform: uppercase;
    padding-right: 10px;
 }
 
 .footer {
     display: block;
     width: 100vw;
     max-width: 1920px;
     margin: 242px auto 90px auto;
 }

 .footer__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 182%;
    letter-spacing: 0.325em;
    text-transform: uppercase;
    margin-left: 160px;
 }

 @media (max-width: 1270px) {
    .profile__header-text_1 {
        font-size: 32px;
    }
    .profile__header-text_2 {
        font-size: 32px;
    }
    .profile__job {
        font-size: 14px;
    }
    .profile__about {
        font-size: 14px;
        padding-right: 135px;
    }
    .profile__vr {
        padding-right: 140px;
    }
    .profile__about-text {
        font-size: 16px;
        width: 320px;
    }
    .profile__audience {
        font-size: 14px;
    }
    .profile__numbers {
        font-size: 14px;
    }

}

@media (max-width: 1100px) {
    .profile__header-text_1 {
        padding-left: 35px;
    }
    .profile__header-text_2 {
        padding-right: 0px;
    }
    .profile__job {
        padding-left: 35px;
    }
    .profile__about {
        padding-right: 35px;
    }
    .profile__vr {
        padding-right: 35px;
    }
    .profile__hr {
        padding-left: 129px;
        width: 87px;
    }
    .profile__about-text {
        padding-right: 20px;
    }
    .profile__audience {
        padding-left: 35px;
    }
    .profile__numbers {
        padding-left: 226px;
    }

    .fund__text {
        font-size: 14px;
        padding-bottom: 0;
    }
    .fund__title {
        font-size: 16px;
        padding-top: 50px;
    }
    .fund__vr {
        height: 280px;
        width: 3px;
    }
    .fund {
        grid-template: min-content min-content 35px / 1fr;
    }

}

@media (max-width: 780px) {
    .profile {
        grid-template: min-content min-content 710px min-content min-content 65px / 1fr;
        background-position-x: -430px;
        margin: 0 auto 350px auto;
    }
    .profile__header-text_1 {
        padding-left: 35px;
    }
    .profile__header-text_2 {
        grid-column: 1;
        padding: 117px 0 0 35px;
        text-align: left;
    }
    .profile__job {
        display: none;
    }
    .profile__about {
        grid-column: 1;
    }
    .profile__vr {
        grid-column: 1;
        width: 3px;
    }
    .profile__hr {
        padding-left: 114px;
        width: 50px;
        height: 3px;
    }
    .profile__about-text {
        padding-right: 35px;
        grid-column: 1;
        justify-self: right;
        margin-top: 140px;
    }
    .profile__audience {
        padding-left: 35px;
    }
    .profile__numbers {
        padding-left: 160px;
    }
    .profile__top {
        background-position-x: -430px;
    }

    .fund {
        margin: 0 auto 45px auto;
        grid-template: min-content min-content 30px / 1fr;
    }
    .fund__vr {
        height: 110px;
        padding-left: 30px;
        width: 3px;
    }
    .fund__text {
        padding-left: 30px;
        width: 320px;
    }
    .fund__title {
        padding-left: 30px;
        width: 220px;
    }
    
    .source {
        width: 305px;
    }

    .source__cell-text {
        font-size: 10px;
    }
    .source__cell-icon {
        width: 14px;
    }
    .source__quote {
        font-size: 16px;
        width: 305px;
    }
    .source__name {
        font-size: 16px;
    }
    .footer__text {
        margin-left: 35px;
    }
    .footer {
        margin-bottom: 35px;
    }
}